@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  font-family: "IM Fell English SC", serif;
}

main {
  overflow: hidden;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.8rem;
}

header {
  background-color: #1881ea;
  overflow: hidden;
  padding: 5px 0;
}

p {
  font-size: 24px;
  margin: 3px 0;
}

label {
  font-size: 1.5rem;
  display: inline-block;
}

form {
  background-color: white;
  width: 100vw;
  background: url(../img//markus-winkler-IrRbSND5EUc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
form .jahrSelect {
  display: flex;
  justify-content: space-between;
  background-color: rgba(225, 225, 225, 0.5);
  margin: 10px 0;
  width: 100vw;
}
form .jahrSelect label {
  margin-left: 10px;
}
form .jahrSelect select {
  width: 40vw;
  height: 50px;
  margin: 0 10vw 0 0px;
  border-radius: 5px;
  border: 2px solid #7b7b7b;
  font-family: "IM Fell English SC", serif;
  font-size: 1.5rem;
}
form .section1 {
  background-color: rgba(225, 225, 225, 0.8);
  padding: 5px 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
form .section1 label {
  margin-left: 10px;
}
form .section1 input {
  margin: 0 10vw 0 0;
  width: 31vw;
  padding: 20px 63px;
  border-radius: 5px;
  border: 2px solid #7b7b7b;
}
form .section2 {
  background-color: rgba(225, 225, 225, 0.8);
  margin: 10px 0;
  width: 100vw;
  padding: 0 0 5px 0;
  text-align: center;
}
form .section2 > label {
  margin: 10px 0 10px 0;
}
form .section2 div {
  padding: 0 0 5px 0;
}
form .section3 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(225, 225, 225, 0.8);
  margin: 10px 0;
  padding: 5px 0 10px 0;
  width: 100vw;
}
form .section3 select {
  width: 40vw;
  height: 50px;
  margin: 0 10vw 0 0;
  border-radius: 5px;
  border: 2px solid #7b7b7b;
  font-family: "IM Fell English SC", serif;
  font-size: 1.5rem;
}
form .section3 label {
  margin: 10px 0 0 10px;
}
form .sectionBtn {
  text-align: center;
  width: 100vw;
  background-color: rgba(225, 225, 225, 0.8);
}
form .sectionBtn button {
  width: 40vw;
  height: 50px;
  border-radius: 5px;
  background-color: greenyellow;
  font-family: "IM Fell English SC", serif;
  font-size: 1.3rem;
}
form .sectionBtn button:hover {
  background-color: #99ff00;
  cursor: pointer;
}
form .section4 {
  opacity: 0;
  transition: 1s ease;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: rgba(225, 225, 225, 0.8);
  padding: 0 0 10px 0;
}
form h3 {
  width: 100vw;
  margin-bottom: 40px;
  text-align: start;
  background-color: #1881ea;
  padding: 10px 0 10px 10px;
}

@media (max-width: 768px) {
  #input {
    margin: 0 10vw 0 0;
    width: 23vw;
    padding: 20px 63px;
    border-radius: 5px;
    border: 2px solid #7b7b7b;
  }
}
@media (max-width: 375px) {
  header {
    text-align: center;
    background-color: #1881ea;
    overflow: hidden;
    padding: 5px 0;
  }

  label {
    font-size: 1.3rem;
    display: inline-block;
  }

  form {
    background-color: white;
    width: 700px;
  }
  form .jahrSelect {
    display: flex;
    justify-content: space-between;
    background-color: rgba(225, 225, 225, 0.8);
    margin: 10px 0;
    width: 100vw;
  }
  form .jahrSelect label {
    margin-left: 10px;
  }
  form .jahrSelect select {
    width: 40vw;
    height: 50px;
    margin: 0 8vw 0 0px;
    border-radius: 5px;
    border: 2px solid #7b7b7b;
    font-family: "IM Fell English SC", serif;
    font-size: 1.5rem;
  }
  form .section1 {
    background-color: rgba(225, 225, 225, 0.8);
    padding: 5px 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  form .section1 label {
    margin-left: 10px;
  }
  form .section1 #input {
    margin: 0 8vw 0 0;
    width: 31vw;
    padding: 1px 15px;
    border-radius: 5px;
    border: 2px solid #7b7b7b;
  }
  form .section2 {
    background-color: rgba(225, 225, 225, 0.8);
    margin: 10px 0;
    width: 100vw;
    padding: 0 0 5px 0;
    text-align: center;
  }
  form .section2 > label {
    margin: 10px 0 10px 0;
  }
  form .section2 div {
    padding: 0 0 5px 0;
  }
  form .section3 {
    display: flex;
    justify-content: space-between;
    background-color: rgba(225, 225, 225, 0.8);
    margin: 10px 0;
    padding: 5px 0 10px 0;
    width: 100vw;
  }
  form .section3 select {
    width: 40vw;
    height: 50px;
    margin: 0 10vw 0 0;
    border-radius: 5px;
    border: 2px solid #7b7b7b;
    font-family: "IM Fell English SC", serif;
    font-size: 1.5rem;
  }
  form .section3 label {
    margin: 10px 0 0 10px;
  }
  form .sectionBtn {
    text-align: center;
    width: 100vw;
    background-color: rgba(225, 225, 225, 0.8);
  }
  form .sectionBtn button {
    width: 40vw;
    height: 50px;
    border-radius: 5px;
    background-color: greenyellow;
  }
  form .sectionBtn button:hover {
    background-color: #99ff00;
    cursor: pointer;
  }
  form .section4 {
    opacity: 0;
    transition: 1s ease;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(225, 225, 225, 0.8);
    padding: 0 0px 30px 0;
  }
  form p {
    padding: 2px 0;
  }
  form h3 {
    width: 100vw;
    margin-bottom: 40px;
    text-align: start;
    background-color: #1881ea;
    padding: 10px 0 10px 10px;
  }
}

/*# sourceMappingURL=style.css.map */
